.vscode/settings.json
output/main
.vscode/tasks.json
headers/output/Dispositivo
main_Dispositivo
Doc/Proyecto_1-2023.pdf
Doc/Estudio_Proyecto1_AyED_2023.odt
headers/output/List
output/main_listDoble
output/main_listDoble
main
